<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.VIN %>
</p>

<ul>
  <% @car.parts.each do |part| %>
    <li><%= part.name %></li>
 <% end %>
</ul>

<ul>
  <% @car.makes.each do |make| %>
    <li><%= make.name %></li>
 <% end %>
</ul>

</ul>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
